:root {
  --base-font-size: 2rem;
  --palette-navy: #003554;
  --palette-blue: #00a6fb;
  --palette-green: #17c3b2;
  --palette-orange: #ffcb77;
  --palette-cream: #fef9ef;
  --palette-pink: #fe6d73;
  --palette-purple: #5a189a;
}

html {
  background-color: var(--palette-cream);
  color: var(--palette-navy);
  font-size: 8px;
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: 1.65;
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: 0;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 700px) {
  html {
    padding: 0;
  }
}

a {
  color: var(--palette-blue);
}

a:visited {
  color: var(--palette-purple);
}

canvas {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.15;
  margin: 2.75rem 0 1.05rem;
}

h1 {
  font-size: 3.052rem;
  margin-top: 0;
}

h2 { font-size: 2.441rem; }
h3 { font-size: 1.953rem; }
h4 { font-size: 1.563rem; }
h5 { font-size: 1.25rem; }

p {
  margin-bottom: 1.15rem;
  max-width: 60ch;
}

.c-link {
  color: rgb(255, 241, 232);
  position: relative;
  text-decoration: none;
  transition-duration: 150ms;
  transition-property: color;
  transition-timing-function: linear;
  white-space: nowrap;
  z-index: 1;
}

.c-link::before {
  background-color: rgb(41, 173, 255);
  border-radius: 0;
  bottom: 0.5rem;
  content: ' ';
  height: 0.5rem;
  left: -0.25rem;
  position: absolute;
  transition-duration: 150ms;
  transition-property: background-color border-radius bottom height left;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: calc(100% + 0.5rem);
  z-index: -1;
}

.c-link:hover {
  color: rgb(29, 43, 83);
  text-shadow: none;
}

.c-link:visited {
  color: rgb(255, 241, 232);
}

.c-link:visited:hover {
  color: #000;
  text-shadow: none;
}

.c-link:hover::before,
.c-link:hover:visited::before {
  background-color: rgb(255, 0, 77, 0.8);
  border-radius: 0.5rem;
  bottom: -0.5rem;
  height: calc(100% + 1rem);
  left: -1rem;
  width: calc(100% + 2rem);
}

.c-main {
  padding: 5vw;
}

.c-type--page-title {
  font-size: 5rem;
  margin-bottom: 3rem;
  max-width: 30ch;
}

.c-type--lead {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  max-width: 50ch;
}

.c-type--caption {
  font-size: 0.8rem;
}
