html {
  background-color: #112;
  overflow: hidden;
}

body {
  overflow: hidden;
  overscroll-behavior-y: none;
}

.c-main {
  padding: 0;
}

.c-home-link {
  position: absolute;
  left: 2rem;
  top: 1rem;
}
